<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PostgreSQL</key>
	<dict>
		<key>detailviews</key>
		<dict>
			<key>navicatmain aggregatedetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>200</integer>
					<key>finalFunction</key>
					<integer>200</integer>
					<key>initialCondition</key>
					<integer>200</integer>
					<key>inputType</key>
					<integer>200</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
					<key>sortOperator</key>
					<integer>100</integer>
					<key>stateFunction</key>
					<integer>200</integer>
					<key>stateType</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>navicatmain castdetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>200</integer>
					<key>context</key>
					<integer>100</integer>
					<key>function</key>
					<integer>120</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>50</integer>
					<key>source_type</key>
					<integer>120</integer>
					<key>target_type</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>navicatmain conversiondetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>200</integer>
					<key>default</key>
					<integer>50</integer>
					<key>function</key>
					<integer>200</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
					<key>sourceEncoding</key>
					<integer>100</integer>
					<key>targetEncoding</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain domaindetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>100</integer>
					<key>default</key>
					<integer>80</integer>
					<key>dimensions</key>
					<integer>50</integer>
					<key>length</key>
					<integer>50</integer>
					<key>name</key>
					<integer>200</integer>
					<key>not_null</key>
					<integer>50</integer>
					<key>oid</key>
					<integer>50</integer>
					<key>owner</key>
					<integer>100</integer>
					<key>scale</key>
					<integer>50</integer>
					<key>underlying_type</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>navicatmain languagedetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>200</integer>
					<key>handler</key>
					<integer>200</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
					<key>trusted</key>
					<integer>100</integer>
					<key>validator</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>navicatmain operatorclassdetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>100</integer>
					<key>datatype</key>
					<integer>100</integer>
					<key>defaultoperatorclass</key>
					<integer>100</integer>
					<key>indexmethod</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
					<key>storagetype</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain operatordetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>100</integer>
					<key>commutator</key>
					<integer>100</integer>
					<key>greater_than_operator</key>
					<integer>100</integer>
					<key>hash</key>
					<integer>50</integer>
					<key>join_function</key>
					<integer>100</integer>
					<key>left_sort_operator</key>
					<integer>100</integer>
					<key>left_type</key>
					<integer>100</integer>
					<key>less_than_operator</key>
					<integer>100</integer>
					<key>merge</key>
					<integer>50</integer>
					<key>name</key>
					<integer>200</integer>
					<key>negator</key>
					<integer>100</integer>
					<key>oid</key>
					<integer>50</integer>
					<key>operator_function</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>50</integer>
					<key>restrict_function</key>
					<integer>100</integer>
					<key>right_sort_operator</key>
					<integer>100</integer>
					<key>right_type</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain proceduredetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>100</integer>
					<key>configurationparameters</key>
					<integer>100</integer>
					<key>estimatedcost</key>
					<integer>100</integer>
					<key>estimatedrows</key>
					<integer>100</integer>
					<key>group</key>
					<integer>80</integer>
					<key>language</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
					<key>parameter</key>
					<integer>100</integer>
					<key>returnsset</key>
					<integer>100</integer>
					<key>returntype</key>
					<integer>100</integer>
					<key>securitydefiner</key>
					<integer>100</integer>
					<key>strict</key>
					<integer>100</integer>
					<key>volatility</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain sequencedetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>cache_size</key>
					<integer>100</integer>
					<key>comment</key>
					<integer>200</integer>
					<key>cycle_flag</key>
					<integer>100</integer>
					<key>increment_by</key>
					<integer>100</integer>
					<key>last_number</key>
					<integer>100</integer>
					<key>max_value</key>
					<integer>100</integer>
					<key>min_value</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>50</integer>
					<key>owned_by</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain serverroledetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>gid</key>
					<integer>80</integer>
					<key>name</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>navicatmain serveruserdetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>cancreateroles</key>
					<integer>80</integer>
					<key>canlogin</key>
					<integer>100</integer>
					<key>canmodifycatalog</key>
					<integer>100</integer>
					<key>connectionlimit</key>
					<integer>80</integer>
					<key>createdb</key>
					<integer>80</integer>
					<key>inherits</key>
					<integer>80</integer>
					<key>name</key>
					<integer>200</integer>
					<key>superuser</key>
					<integer>100</integer>
					<key>uid</key>
					<integer>80</integer>
					<key>validuntil</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>navicatmain tabledetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>aclstr</key>
					<integer>50</integer>
					<key>comment</key>
					<integer>80</integer>
					<key>fillfactor</key>
					<integer>80</integer>
					<key>group</key>
					<integer>80</integer>
					<key>hasoids</key>
					<integer>50</integer>
					<key>inheritedtablescount</key>
					<integer>120</integer>
					<key>inheritstables</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>80</integer>
					<key>owner</key>
					<integer>80</integer>
					<key>pkey</key>
					<integer>80</integer>
					<key>rows</key>
					<integer>80</integer>
					<key>systemtable</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>navicatmain tablespacedetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>200</integer>
					<key>location</key>
					<integer>200</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain triggerfunctiondetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>comment</key>
					<integer>100</integer>
					<key>configurationparameters</key>
					<integer>100</integer>
					<key>estimatedcost</key>
					<integer>100</integer>
					<key>estimatedrows</key>
					<integer>100</integer>
					<key>language</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>100</integer>
					<key>parameter</key>
					<integer>100</integer>
					<key>returnsset</key>
					<integer>100</integer>
					<key>returntype</key>
					<integer>100</integer>
					<key>securitydefiner</key>
					<integer>100</integer>
					<key>strict</key>
					<integer>100</integer>
					<key>volatility</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain typedetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>alignment</key>
					<integer>80</integer>
					<key>comment</key>
					<integer>100</integer>
					<key>default</key>
					<integer>80</integer>
					<key>delimiter</key>
					<integer>80</integer>
					<key>element</key>
					<integer>80</integer>
					<key>input</key>
					<integer>100</integer>
					<key>length</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>80</integer>
					<key>output</key>
					<integer>100</integer>
					<key>owner</key>
					<integer>80</integer>
					<key>storage</key>
					<integer>80</integer>
					<key>type</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>navicatmain viewdetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>aclstr</key>
					<integer>50</integer>
					<key>comment</key>
					<integer>80</integer>
					<key>group</key>
					<integer>80</integer>
					<key>name</key>
					<integer>200</integer>
					<key>oid</key>
					<integer>80</integer>
					<key>owner</key>
					<integer>80</integer>
				</dict>
			</dict>
		</dict>
		<key>dumpsql</key>
		<dict/>
		<key>servermonitor</key>
		<dict/>
		<key>servers</key>
		<dict>
			<key>Heroku</key>
			<dict>
				<key>advdatabaseaccounts</key>
				<dict/>
				<key>advdatabasenames</key>
				<array/>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>Heroku</string>
				<key>defaultdatabase</key>
				<string>d3ed4o211lmfji</string>
				<key>encoding</key>
				<string>4</string>
				<key>host</key>
				<string>ec2-23-23-234-207.compute-1.amazonaws.com</string>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>http_param_adv</key>
				<dict>
					<key>encodebase64</key>
					<integer>0</integer>
				</dict>
				<key>key</key>
				<data>
				Ru4eQ6ol+4Qnr44Fp9SnqXZKs879SEV2jdangVGl/pA=
				</data>
				<key>order</key>
				<integer>4</integer>
				<key>port</key>
				<string>5432</string>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for PostgreSQL/Heroku</string>
				<key>socketfile</key>
				<string></string>
				<key>ssl_param</key>
				<array>
					<false/>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string>require</string>
				</array>
				<key>timeout</key>
				<integer>0</integer>
				<key>tunnel_param</key>
				<array>
					<string></string>
					<integer>22</integer>
					<string></string>
					<string></string>
					<false/>
					<integer>0</integer>
					<string></string>
					<false/>
				</array>
				<key>useadvsetting</key>
				<integer>0</integer>
				<key>usecompression</key>
				<integer>0</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
				<key>usemycharset</key>
				<integer>0</integer>
				<key>username</key>
				<string>fibdddtcromrrd</string>
				<key>usessl</key>
				<integer>1</integer>
				<key>usetunnel</key>
				<integer>0</integer>
			</dict>
			<key>Localhost Postgres</key>
			<dict>
				<key>advdatabaseaccounts</key>
				<dict/>
				<key>advdatabasenames</key>
				<array/>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>Localhost Postgres</string>
				<key>defaultdatabase</key>
				<string>postgres</string>
				<key>encoding</key>
				<string>4</string>
				<key>host</key>
				<string>localhost</string>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>http_param_adv</key>
				<dict>
					<key>encodebase64</key>
					<integer>0</integer>
				</dict>
				<key>key</key>
				<data>
				GV9IypPub1rK4lmqMAFdjQ==
				</data>
				<key>order</key>
				<integer>3</integer>
				<key>port</key>
				<string>5432</string>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for PostgreSQL/Localhost Postgres</string>
				<key>socketfile</key>
				<string></string>
				<key>ssl_param</key>
				<array>
					<false/>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string>prefer</string>
				</array>
				<key>timeout</key>
				<integer>0</integer>
				<key>tunnel_param</key>
				<array>
					<string></string>
					<integer>22</integer>
					<string></string>
					<string></string>
					<false/>
					<integer>0</integer>
					<string></string>
					<false/>
				</array>
				<key>useadvsetting</key>
				<integer>0</integer>
				<key>usecompression</key>
				<integer>0</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
				<key>usemycharset</key>
				<integer>0</integer>
				<key>username</key>
				<string>postgres</string>
				<key>usessl</key>
				<integer>0</integer>
				<key>usetunnel</key>
				<integer>0</integer>
			</dict>
			<key>livecopy skiline@skiline</key>
			<dict>
				<key>advdatabaseaccounts</key>
				<dict/>
				<key>advdatabasenames</key>
				<array/>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>livecopy skiline@skiline</string>
				<key>defaultdatabase</key>
				<string>skiline</string>
				<key>encoding</key>
				<string>4</string>
				<key>host</key>
				<string>10.60.1.15</string>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>http_param_adv</key>
				<dict>
					<key>encodebase64</key>
					<integer>0</integer>
				</dict>
				<key>key</key>
				<data>
				/SOolRBLNQJOuvpUxLluXQ==
				</data>
				<key>order</key>
				<integer>2</integer>
				<key>port</key>
				<string>5432</string>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for PostgreSQL/livecopy skiline@skiline</string>
				<key>socketfile</key>
				<string></string>
				<key>ssl_param</key>
				<array>
					<false/>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string>prefer</string>
				</array>
				<key>timeout</key>
				<integer>0</integer>
				<key>tunnel_param</key>
				<array>
					<string></string>
					<integer>22</integer>
					<string></string>
					<string></string>
					<false/>
					<integer>0</integer>
					<string></string>
					<false/>
				</array>
				<key>useadvsetting</key>
				<integer>0</integer>
				<key>usecompression</key>
				<integer>0</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
				<key>usemycharset</key>
				<integer>0</integer>
				<key>username</key>
				<string>skiline</string>
				<key>usessl</key>
				<integer>0</integer>
				<key>usetunnel</key>
				<integer>0</integer>
			</dict>
			<key>localhost hikeline</key>
			<dict>
				<key>advdatabaseaccounts</key>
				<dict/>
				<key>advdatabasenames</key>
				<array/>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>localhost hikeline</string>
				<key>defaultdatabase</key>
				<string>hikeline</string>
				<key>encoding</key>
				<string>4</string>
				<key>host</key>
				<string>localhost</string>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>http_param_adv</key>
				<dict>
					<key>encodebase64</key>
					<integer>0</integer>
				</dict>
				<key>key</key>
				<data>
				d0FcUfg3LxcQR4vjHWtLSw==
				</data>
				<key>order</key>
				<integer>5</integer>
				<key>port</key>
				<string>5432</string>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for PostgreSQL/localhost hikeline</string>
				<key>socketfile</key>
				<string></string>
				<key>ssl_param</key>
				<array>
					<false/>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string>prefer</string>
				</array>
				<key>timeout</key>
				<integer>0</integer>
				<key>tunnel_param</key>
				<array>
					<string></string>
					<integer>22</integer>
					<string></string>
					<string></string>
					<false/>
					<integer>0</integer>
					<string></string>
					<false/>
				</array>
				<key>useadvsetting</key>
				<integer>0</integer>
				<key>usecompression</key>
				<integer>0</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
				<key>usemycharset</key>
				<integer>0</integer>
				<key>username</key>
				<string>hikeline</string>
				<key>usessl</key>
				<integer>0</integer>
				<key>usetunnel</key>
				<integer>0</integer>
			</dict>
			<key>localhost skiline@skiline_samren</key>
			<dict>
				<key>advdatabaseaccounts</key>
				<dict/>
				<key>advdatabasenames</key>
				<array/>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>localhost skiline@skiline_samren</string>
				<key>defaultdatabase</key>
				<string>skiline_samren</string>
				<key>encoding</key>
				<string>4</string>
				<key>host</key>
				<string>localhost</string>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>http_param_adv</key>
				<dict>
					<key>encodebase64</key>
					<integer>0</integer>
				</dict>
				<key>key</key>
				<data>
				v37AsM0lUjGEaMb1HClAbQ==
				</data>
				<key>order</key>
				<integer>1</integer>
				<key>port</key>
				<string>5432</string>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for PostgreSQL/localhost skiline@skiline_samren</string>
				<key>socketfile</key>
				<string></string>
				<key>ssl_param</key>
				<array>
					<false/>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string>prefer</string>
				</array>
				<key>timeout</key>
				<integer>0</integer>
				<key>tunnel_param</key>
				<array>
					<string></string>
					<integer>22</integer>
					<string></string>
					<string></string>
					<false/>
					<integer>0</integer>
					<string></string>
					<false/>
				</array>
				<key>useadvsetting</key>
				<integer>0</integer>
				<key>usecompression</key>
				<integer>0</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
				<key>usemycharset</key>
				<integer>0</integer>
				<key>username</key>
				<string>skiline</string>
				<key>usessl</key>
				<integer>0</integer>
				<key>usetunnel</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>serverspreferences</key>
		<dict/>
	</dict>
	<key>SQLite</key>
	<dict>
		<key>dumpsql</key>
		<dict/>
		<key>servermonitor</key>
		<dict/>
		<key>servers</key>
		<dict>
			<key>SabreDAV</key>
			<dict>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>SabreDAV</string>
				<key>dbfilename</key>
				<string>/Users/resamsel/Development/jira-ical/SabreDAV/data/db.sqlite</string>
				<key>encrypted</key>
				<integer>0</integer>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>order</key>
				<integer>1</integer>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for SQLite/SabreDAV</string>
				<key>usehttptunnel</key>
				<integer>0</integer>
			</dict>
			<key>Skiline Android</key>
			<dict>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>Skiline Android</string>
				<key>dbfilename</key>
				<string>/Users/resamsel/Downloads/skiline.db</string>
				<key>encrypted</key>
				<integer>0</integer>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>order</key>
				<integer>2</integer>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for SQLite/Skiline Android</string>
				<key>usehttptunnel</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>serverspreferences</key>
		<dict/>
	</dict>
	<key>commondetailviews</key>
	<dict>
		<key>navicatmain querydetailview</key>
		<dict>
			<key>fieldwidth</key>
			<dict>
				<key>filesize</key>
				<integer>120</integer>
				<key>group</key>
				<integer>80</integer>
				<key>name</key>
				<integer>200</integer>
				<key>updatetime</key>
				<integer>200</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
