<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PostgreSQL</key>
	<dict>
		<key>dumpsql</key>
		<dict/>
		<key>servermonitor</key>
		<dict/>
		<key>servers</key>
		<dict>
			<key>Localhost Postgres</key>
			<dict>
				<key>advdatabaseaccounts</key>
				<dict/>
				<key>advdatabasenames</key>
				<array/>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>Localhost Postgres</string>
				<key>defaultdatabase</key>
				<string>postgres</string>
				<key>encoding</key>
				<string>4</string>
				<key>host</key>
				<string>localhost</string>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>http_param_adv</key>
				<dict>
					<key>encodebase64</key>
					<integer>0</integer>
				</dict>
				<key>key</key>
				<data>
				GV9IypPub1rK4lmqMAFdjQ==
				</data>
				<key>order</key>
				<integer>3</integer>
				<key>port</key>
				<string>5432</string>
				<key>savepassword</key>
				<integer>1</integer>
				<key>savepath</key>
				<string>/Users/resamsel/Library/Application Support/PremiumSoft CyberTech/Navicat for PostgreSQL/Localhost Postgres</string>
				<key>socketfile</key>
				<string></string>
				<key>ssl_param</key>
				<array>
					<false/>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string>prefer</string>
				</array>
				<key>timeout</key>
				<integer>0</integer>
				<key>tunnel_param</key>
				<array>
					<string></string>
					<integer>22</integer>
					<string></string>
					<string></string>
					<false/>
					<integer>0</integer>
					<string></string>
					<false/>
				</array>
				<key>useadvsetting</key>
				<integer>0</integer>
				<key>usecompression</key>
				<integer>0</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
				<key>usemycharset</key>
				<integer>0</integer>
				<key>username</key>
				<string>postgres</string>
				<key>usessl</key>
				<integer>0</integer>
				<key>usetunnel</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>serverspreferences</key>
		<dict/>
	</dict>
	<key>commondetailviews</key>
	<dict>
		<key>navicatmain querydetailview</key>
		<dict>
			<key>fieldwidth</key>
			<dict>
				<key>filesize</key>
				<integer>120</integer>
				<key>group</key>
				<integer>80</integer>
				<key>name</key>
				<integer>200</integer>
				<key>updatetime</key>
				<integer>200</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
