<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SQLite</key>
	<dict>
		<key>detailviews</key>
		<dict>
			<key>navicatmain indexdetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>autoindex</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>rootpage</key>
					<integer>100</integer>
					<key>tablename</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain tabledetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>group</key>
					<integer>80</integer>
					<key>hasindexs</key>
					<integer>100</integer>
					<key>hastriggers</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>rootpage</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain triggerdetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>baseobjecttype</key>
					<integer>100</integer>
					<key>name</key>
					<integer>200</integer>
					<key>tablename</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>navicatmain viewdetailview</key>
			<dict>
				<key>fieldwidth</key>
				<dict>
					<key>group</key>
					<integer>80</integer>
					<key>name</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<key>dumpsql</key>
		<dict/>
		<key>servermonitor</key>
		<dict/>
		<key>servers</key>
		<dict>
			<key>dbmanagr</key>
			<dict>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>dbmanagr</string>
				<key>dbfilebookmark</key>
				<data>
				Ym9va4gDAAAAAAQQMAAAANYuYQ3Pa/9hc7zxLC8thgRa
				qgkvuVFX/KWzT+1UH/LRhAIAAAQAAAADAwAAAAgAKAUA
				AAABAQAAVXNlcnMAAAAIAAAAAQEAAHJlc2Ftc2VsCwAA
				AAEBAABEZXZlbG9wbWVudAAGAAAAAQEAAEFsZnJlZAAA
				CwAAAAEBAABkYm5hdmlnYXRvcgADAAAAAQEAAHNyYwAF
				AAAAAQEAAHRlc3RzAAAACQAAAAEBAAByZXNvdXJjZXMA
				AAAMAAAAAQEAAGRibmF2LnNxbGl0ZSQAAAABBgAAEAAA
				ACAAAAAwAAAARAAAAFQAAABoAAAAdAAAAIQAAACYAAAA
				CAAAAAQDAABoWA0AAAAAAAgAAAAEAwAA7m8NAAAAAAAI
				AAAABAMAAJH+DgAAAAAACAAAAAQDAABlJg8AAAAAAAgA
				AAAEAwAAbSYPAAAAAAAIAAAABAMAAPMvDwAAAAAACAAA
				AAQDAABmHCQAAAAAAAgAAAAEAwAAHQslAAAAAAAIAAAA
				BAMAAIuUMgAAAAAAJAAAAAEGAADYAAAA6AAAAPgAAAAI
				AQAAGAEAACgBAAA4AQAASAEAAFgBAAAIAAAAAAQAAEG6
				DCAnAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
				AAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAA
				CAAAAAEJAABmaWxlOi8vLwsAAAABAQAAU2Ftc3VuZyBT
				U0QACAAAAAQDAAAAAADpOQAAAAgAAAAABAAAQbn2Nk0A
				AAAkAAAAAQEAADYyRDdCOEUzLTM3NjUtMzM1Ri1CQzUz
				LTFBOTE0RTNEMkEwRBgAAAABAgAAgQAAAAEACADvFwAA
				AQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADM
				AAAA/v///wEAAAAAAAAAEAAAAAQQAACsAAAAAAAAAAUQ
				AABoAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAA
				AAIgAABwAgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAA
				AAAAABEgAAAkAgAAAAAAABIgAAAEAgAAAAAAABMgAAAU
				AgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHA
				AADEAQAAAAAAABHAAAAgAAAAAAAAABLAAADUAQAAAAAA
				ABDQAAAEAAAAAAAAAA==
				</data>
				<key>dbfilename</key>
				<string>tests/resources/dbmanagr.sqlite</string>
				<key>dbsp</key>
				<integer>4</integer>
				<key>encrypted</key>
				<integer>0</integer>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>nsyDirtyFlag</key>
				<false/>
				<key>nsyID</key>
				<string></string>
				<key>nsyLastRetrievedHash</key>
				<string></string>
				<key>nsySync</key>
				<false/>
				<key>nsyUserUUID</key>
				<string></string>
				<key>order</key>
				<integer>6</integer>
				<key>savepassword</key>
				<integer>1</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
			</dict>
			<key>dbmanagr-c</key>
			<dict>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>dbmanagr-c</string>
				<key>dbfilebookmark</key>
				<data>
				Ym9va4wDAAAAAAQQMAAAAJrx8nvlfXgV5GsPgIKGjsyv
				tskX5GuBRYFnSerSdQOeiAIAAAQAAAADAwAAAAgAKAUA
				AAABAQAAVXNlcnMAAAAIAAAAAQEAAHJlc2Ftc2VsCwAA
				AAEBAABEZXZlbG9wbWVudAAGAAAAAQEAAEFsZnJlZAAA
				CwAAAAEBAABkYm5hdmlnYXRvcgADAAAAAQEAAHNyYwAF
				AAAAAQEAAHRlc3RzAAAACQAAAAEBAAByZXNvdXJjZXMA
				AAAOAAAAAQEAAGRibmF2LWMuc3FsaXRlAAAkAAAAAQYA
				ABAAAAAgAAAAMAAAAEQAAABUAAAAaAAAAHQAAACEAAAA
				mAAAAAgAAAAEAwAAaFgNAAAAAAAIAAAABAMAAO5vDQAA
				AAAACAAAAAQDAACR/g4AAAAAAAgAAAAEAwAAZSYPAAAA
				AAAIAAAABAMAAG0mDwAAAAAACAAAAAQDAADzLw8AAAAA
				AAgAAAAEAwAAZhwkAAAAAAAIAAAABAMAAB0LJQAAAAAA
				CAAAAAQDAACHDEMAAAAAACQAAAABBgAA3AAAAOwAAAD8
				AAAADAEAABwBAAAsAQAAPAEAAEwBAABcAQAACAAAAAAE
				AABBuhvtjgAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA
				9QEAAAgAAAABCQAAZmlsZTovLy8LAAAAAQEAAFNhbXN1
				bmcgU1NEAAgAAAAEAwAAAAAA6TkAAAAIAAAAAAQAAEG5
				9jZNAAAAJAAAAAEBAAA2MkQ3QjhFMy0zNzY1LTMzNUYt
				QkM1My0xQTkxNEUzRDJBMEQYAAAAAQIAAIEAAAABAAgA
				7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
				BQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAsAAAAAAA
				AAAFEAAAbAEAAAAAAAAQEAAAqAEAAAAAAABAEAAAmAEA
				AAAAAAACIAAAdAIAAAAAAAAFIAAA5AEAAAAAAAAQIAAA
				9AEAAAAAAAARIAAAKAIAAAAAAAASIAAACAIAAAAAAAAT
				IAAAGAIAAAAAAAAgIAAAVAIAAAAAAAAwIAAAgAIAAAAA
				AAABwAAAyAEAAAAAAAARwAAAIAAAAAAAAAASwAAA2AEA
				AAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>dbfilename</key>
				<string>tests/resources/dbmanagr-c.sqlite</string>
				<key>dbsp</key>
				<integer>4</integer>
				<key>encrypted</key>
				<integer>0</integer>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>nsyDirtyFlag</key>
				<false/>
				<key>nsyID</key>
				<string></string>
				<key>nsyLastRetrievedHash</key>
				<string></string>
				<key>nsySync</key>
				<false/>
				<key>nsyUserUUID</key>
				<string></string>
				<key>order</key>
				<integer>7</integer>
				<key>savepassword</key>
				<integer>1</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
			</dict>
			<key>me@xyz</key>
			<dict>
				<key>autoconnect</key>
				<integer>0</integer>
				<key>connectionname</key>
				<string>me@xyz</string>
				<key>dbfilebookmark</key>
				<data>
				Ym9va5ADAAAAAAQQMAAAADiIXzOiULUvOvM6m65YR/wc
				cB+EVKNrAuezcgNqmkfYjAIAAAQAAAADAwAAAAgAKAUA
				AAABAQAAVXNlcnMAAAAIAAAAAQEAAHJlc2Ftc2VsCwAA
				AAEBAABEZXZlbG9wbWVudAAGAAAAAQEAAEFsZnJlZAAA
				CwAAAAEBAABkYm5hdmlnYXRvcgADAAAAAQEAAHNyYwAF
				AAAAAQEAAHRlc3RzAAAACQAAAAEBAAByZXNvdXJjZXMA
				AAARAAAAAQEAAG1lQHh5ei5jb20uc3FsaXRlAAAAJAAA
				AAEGAAAQAAAAIAAAADAAAABEAAAAVAAAAGgAAAB0AAAA
				hAAAAJgAAAAIAAAABAMAAGhYDQAAAAAACAAAAAQDAADu
				bw0AAAAAAAgAAAAEAwAAkf4OAAAAAAAIAAAABAMAAGUm
				DwAAAAAACAAAAAQDAABtJg8AAAAAAAgAAAAEAwAA8y8P
				AAAAAAAIAAAABAMAAGYcJAAAAAAACAAAAAQDAAAdCyUA
				AAAAAAgAAAAEAwAAIQslAAAAAAAkAAAAAQYAAOAAAADw
				AAAAAAEAABABAAAgAQAAMAEAAEABAABQAQAAYAEAAAgA
				AAAABAAAQboAB/EAAAAYAAAAAQIAAAEAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAA
				AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABT
				YW1zdW5nIFNTRAAIAAAABAMAAAAAAOk5AAAACAAAAAAE
				AABBufY2TQAAACQAAAABAQAANjJEN0I4RTMtMzc2NS0z
				MzVGLUJDNTMtMUE5MTRFM0QyQTBEGAAAAAECAACBAAAA
				AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAA
				AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQA
				AAAAAAAABRAAAHABAAAAAAAAEBAAAKwBAAAAAAAAQBAA
				AJwBAAAAAAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAA
				ECAAAPgBAAAAAAAAESAAACwCAAAAAAAAEiAAAAwCAAAA
				AAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQC
				AAAAAAAAAcAAAMwBAAAAAAAAEcAAACAAAAAAAAAAEsAA
				ANwBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>dbfilename</key>
				<string>tests/resources/me@xyz.com.sqlite</string>
				<key>dbsp</key>
				<integer>4</integer>
				<key>encrypted</key>
				<integer>0</integer>
				<key>http_param</key>
				<array>
					<string></string>
					<integer>0</integer>
					<string></string>
					<integer>0</integer>
				</array>
				<key>nsyDirtyFlag</key>
				<false/>
				<key>nsyID</key>
				<string></string>
				<key>nsyLastRetrievedHash</key>
				<string></string>
				<key>nsySync</key>
				<false/>
				<key>nsyUserUUID</key>
				<string></string>
				<key>order</key>
				<integer>8</integer>
				<key>savepassword</key>
				<integer>1</integer>
				<key>usehttptunnel</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>serverspreferences</key>
		<dict>
			<key>SabreDAV</key>
			<dict>
				<key>main</key>
				<dict>
					<key>addressbooks</key>
					<dict>
						<key>fieldwidth</key>
						<dict/>
						<key>framestring</key>
						<string>2592 231 640 480 1680 0 1680 1050 </string>
						<key>showeditor</key>
						<integer>-1</integer>
						<key>showgridview</key>
						<true/>
					</dict>
					<key>calendarobjects</key>
					<dict>
						<key>fieldwidth</key>
						<dict>
							<key>calendardata</key>
							<integer>125</integer>
							<key>calendarid</key>
							<integer>100</integer>
							<key>id</key>
							<integer>100</integer>
							<key>lastmodified</key>
							<integer>100</integer>
							<key>uri</key>
							<integer>287</integer>
						</dict>
						<key>framestring</key>
						<string>2418 132 841 760 1680 0 1680 1050 </string>
						<key>showeditor</key>
						<integer>1</integer>
						<key>showgridview</key>
						<true/>
					</dict>
					<key>calendars</key>
					<dict>
						<key>fieldwidth</key>
						<dict>
							<key>calendarcolor</key>
							<integer>100</integer>
							<key>calendarorder</key>
							<integer>100</integer>
							<key>components</key>
							<integer>100</integer>
							<key>ctag</key>
							<integer>100</integer>
							<key>description</key>
							<integer>100</integer>
							<key>displayname</key>
							<integer>100</integer>
							<key>id</key>
							<integer>100</integer>
							<key>principaluri</key>
							<integer>100</integer>
							<key>timezone</key>
							<integer>148</integer>
							<key>uri</key>
							<integer>100</integer>
						</dict>
						<key>framestring</key>
						<string>2776 159 640 480 1680 -30 1920 1080 </string>
						<key>showeditor</key>
						<integer>-1</integer>
						<key>showgridview</key>
						<true/>
					</dict>
					<key>principals</key>
					<dict>
						<key>fieldwidth</key>
						<dict>
							<key>displayname</key>
							<integer>100</integer>
							<key>email</key>
							<integer>100</integer>
							<key>id</key>
							<integer>100</integer>
							<key>uri</key>
							<integer>214</integer>
						</dict>
						<key>framestring</key>
						<string>540 487 640 480 0 0 1680 1028 </string>
						<key>showeditor</key>
						<integer>-1</integer>
						<key>showgridview</key>
						<true/>
					</dict>
					<key>users</key>
					<dict>
						<key>fieldwidth</key>
						<dict/>
						<key>framestring</key>
						<string>2220 487 640 480 1680 0 1680 1050 </string>
						<key>showeditor</key>
						<integer>-1</integer>
						<key>showgridview</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>dbmanagr</key>
			<dict>
				<key>main</key>
				<dict>
					<key>_comment</key>
					<dict>
						<key>fieldwidth</key>
						<dict/>
						<key>framestring</key>
						<string>0 55 746 678 0 0 1680 1027 </string>
						<key>showeditor</key>
						<integer>1</integer>
						<key>showgridview</key>
						<true/>
						<key>wordwrap</key>
						<false/>
					</dict>
					<key>_query_</key>
					<dict>
						<key>framestring</key>
						<string>0 55 746 678 0 0 1680 1027 </string>
					</dict>
					<key>article</key>
					<dict>
						<key>fieldwidth</key>
						<dict/>
						<key>framestring</key>
						<string>0 55 746 678 0 0 1680 1027 </string>
						<key>showeditor</key>
						<integer>-1</integer>
						<key>showgridview</key>
						<true/>
						<key>wordwrap</key>
						<false/>
					</dict>
					<key>user</key>
					<dict>
						<key>fieldwidth</key>
						<dict/>
						<key>framestring</key>
						<string>0 55 746 678 0 0 1680 1027 </string>
						<key>showeditor</key>
						<integer>-1</integer>
						<key>showgridview</key>
						<true/>
						<key>wordwrap</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>dbmanagr-c</key>
			<dict>
				<key>main</key>
				<dict>
					<key>_comment</key>
					<dict>
						<key>fieldwidth</key>
						<dict/>
						<key>framestring</key>
						<string>0 55 746 678 0 0 1680 1027 </string>
						<key>showeditor</key>
						<integer>1</integer>
						<key>showgridview</key>
						<true/>
						<key>wordwrap</key>
						<false/>
					</dict>
					<key>_query_</key>
					<dict>
						<key>framestring</key>
						<string>0 55 746 678 0 0 1680 1027 </string>
					</dict>
					<key>user</key>
					<dict>
						<key>fieldwidth</key>
						<dict/>
						<key>framestring</key>
						<string>0 55 746 678 0 0 1680 1027 </string>
						<key>showeditor</key>
						<integer>-1</integer>
						<key>showgridview</key>
						<true/>
						<key>wordwrap</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>commondetailviews</key>
	<dict>
		<key>navicatmain backupdetailview</key>
		<dict>
			<key>fieldwidth</key>
			<dict>
				<key>filesize</key>
				<integer>120</integer>
				<key>group</key>
				<integer>80</integer>
				<key>name</key>
				<integer>200</integer>
				<key>updatetime</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>navicatmain batchdetailview</key>
		<dict>
			<key>fieldwidth</key>
			<dict>
				<key>filesize</key>
				<integer>120</integer>
				<key>group</key>
				<integer>80</integer>
				<key>name</key>
				<integer>200</integer>
				<key>updatetime</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>navicatmain modeldetailview</key>
		<dict>
			<key>fieldwidth</key>
			<dict>
				<key>createtime</key>
				<integer>200</integer>
				<key>filesize</key>
				<integer>120</integer>
				<key>group</key>
				<integer>80</integer>
				<key>name</key>
				<integer>200</integer>
				<key>updatetime</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>navicatmain querydetailview</key>
		<dict>
			<key>fieldwidth</key>
			<dict>
				<key>filesize</key>
				<integer>120</integer>
				<key>group</key>
				<integer>80</integer>
				<key>name</key>
				<integer>200</integer>
				<key>updatetime</key>
				<integer>200</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
